@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

:root {
  --color-primary: #2c3e50;
  --color-primary-2: #34495e;
  --color-background-darkness: #1e262d;
  --color-white: #fff;
  --color-white-2: #eee;
  --color-background-cinzel: #bdc3c7;
  --color-black: #000;
  --color-black-2: #333;
  --color-green: #198754;
  --color-hover: #2d72ff;
  --font-used: "Quicksand", sans-serif;
  --background-image: url(../assets/images/arrumando\ a\ cama.jpg);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-used);
}

body {
  background: var(--color-background-cinzel);
  line-height: 1.5;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--color-white);
  text-decoration: none;
}

#header_1 a {
  text-decoration: none;
  color: var(--color-white);
}

#header_1 {
  background: var(--color-background-darkness);
  width: 100%;
  position: relative;
  text-decoration: none;
}

#header_1:after {
  content: "";
  clear: both;
  display: block;
}

.search {
  float: right;
  padding: 30px;
}

input {
  border: none;
  padding: 10px;
  border-radius: 20px;
}

.logo_1 {
  float: left;
  padding: 26px 0 26px;
}

.logo_1 a {
  font-size: 28px;
  display: block;
  padding: 0 0 0 20px;
}

nav {
  float: right;
}

nav > ul {
  float: left;
  position: relative;
}

nav li {
  list-style: none;
  float: left;
}

nav .dropdown {
  position: relative;
}

nav li a {
  float: left;
  padding: 30px;
}

nav li a:hover {
  background: var(--color-primary);
}

nav li ul {
  display: none;
}

nav li:hover ul {
  display: inline;
}

nav li li {
  float: none;
}

nav .drop {
  width: 50%;
  position: absolute;
  top: 100%;
  left: -50px;
  background: var(--color-black);
  overflow: hidden;
  padding: 20px 35px;
  border-bottom: 3px solid var(--color-primary-2);
  margin-top: -5px;
}

nav .drop_1 ul {
  position: absolute;
  left: 256px;
  top: 100%;
  background: var(--color-black);
  padding: 20px 0;
  border-bottom: 3px solid var(--color-primary-2);
  margin-top: -5px;
}

nav .drop_1 li {
  white-space: nowrap;
}

nav .drop_1 i a {
  padding: 10px 35px;
  font-size: 13px;
  min-width: 200px;
}

nav li li a {
  float: inline-start;
  color: var(--color-black-2);
  display: block;
  padding: 8px 10px;
  border-radius: 3px;
  font-size: 13px;
}

nav li a:hover {
  background: var(--color-primary);
}

.mega-col {
  width: 25%;
  float: left;
  color: var(--color-black);
}

.btn-hover:hover {
  color: var(--color-white);
}

.color-hover{
  text-decoration: none;
  color: var(--color-black);
}

.color-hover:hover{
  text-decoration: none;
  color: var(--color-white);
}